<div class="scrollable ng-scope" ng-controller="RecipeDetailsCtrl">
  <div class="scrollable-content">
    <div class="list-group">
    	<div style="height:60px;font-size:20px;background-color:white;padding:15px;border-bottom:1px solid black">{{recipe.title}}</div>
      <a ng-repeat="ingredient in ingredients" class="list-group-item ng-scope ng-binding">
        {{ingredient}}<i class="fa fa-minus pull-right" style="color:red"></i><span class="pull-right"></span>
      </a>
    </div>
  </div>
</div>
